<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <!-- <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0, minimum-scale=1.0, maximum-scale=1.0"> -->
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

  <meta name="apple-mobile-web-app-capable" content="yes">
  <meta name="apple-mobile-web-app-status-bar-style" content="black">
  <meta name="x5-fullscreen" content="true">
  <meta name="full-screen" content="yes">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <script src="../js/flexible_css.js"></script>
  <script src="../js/flexible.js"></script>
  <link href="../css/index.css" rel="stylesheet" />
  <link rel="stylesheet" href="../css/font-awesome/css/font-awesome.css">
  <link rel="stylesheet" href="../css/ele2/index.css">
  <link rel="shortcut icon" href="../favicon.ico" />

  <title>问题游戏录入平台</title>
</head>

<body>
  <script src="../js/layer.js"></script>
  <div id="vue-home" v-cloak v-loading.fullscreen.lock="fullscreenLoading">
    <el-menu :default-active="activeIndex" class="el-menu-demo" mode="horizontal" @select="handleSelect" background-color="#4396fb" text-color="#fff" active-text-color="#ffdba1">
      <el-menu-item index="register" style="width:25%;display: flex;flex-direction: row;justify-content: center;">信息登记</el-menu-item>
      <el-menu-item index="list" style="width:25%;display: flex;flex-direction: row;justify-content: center;">问题查询</el-menu-item>
      <el-menu-item index="search" style="width:25%;display: flex;flex-direction: row;justify-content: center;">问题列表</el-menu-item>

      <el-menu-item index="fun" style="width:25%;display: flex;flex-direction: row;justify-content: center;">今日缺德</el-menu-item>
    </el-menu>

    <div class="scroll-div" v-show="pageContent == 'list'">
      没做

    </div>





    <div class="scroll-div" v-show="pageContent == 'search'">
      没做

    </div>

    <div class="scroll-div" v-show="pageContent == 'register'">
      <div class="info-form">
        <el-form :model="ruleForm" :rules="rules" ref="ruleForm" class="faceid-text">
          <el-form-item label="问题" prop="question">
            <el-input placeholder="请输入问题" v-model="ruleForm.question" style="line-height:0.5rem"></el-input>
          </el-form-item>
          <el-form-item label="选项A" prop="answer_a">
            <el-input placeholder="请输入选项A" v-model="ruleForm.answer_a" style="line-height:0.5rem"></el-input>
          </el-form-item>
          <el-form-item label="选项B" prop="answer_b">
            <el-input placeholder="请输入选项B" v-model="ruleForm.answer_b" style="line-height:0.5rem"></el-input>
          </el-form-item>
          <el-form-item label="选项C" prop="answer_c">
            <el-input placeholder="请输入选项C" v-model="ruleForm.answer_c" style="line-height:0.5rem"></el-input>
          </el-form-item>
          <el-form-item label="选项D" prop="answer_d">
            <el-input placeholder="请输入选项D" v-model="ruleForm.answer_d" style="line-height:0.5rem"></el-input>
          </el-form-item>
          <el-form-item label="答案" prop="correct_answer">
            <el-input placeholder="请输入答案(格式为大写字母A、B、C、D)" v-model="ruleForm.correct_answer" style="line-height:0.5rem"></el-input>
          </el-form-item>
          <el-form-item label="额外链接" prop="link">
            <el-input placeholder="请输入新的主页地址" v-model="ruleForm.link" style="line-height:0.5rem"></el-input>
          </el-form-item>

        </el-form>
      </div>

      <img src="../img/submit.png" class="submit-btn" v-on:click="submitInfo" />


    </div>

    <div class="scroll-div" v-show="pageContent == 'fun'">
      <img src="../img/quede.jpg" style="width:100%" />
      <div class="self-desc">
        <p>
          加油录题目
        </p>
      </div>
    </div>



  </div>



  <script src="../js/vue.js"></script>
  <script src="../js/ele2/index.js"></script>
  <script src="../js/axios.min.js"></script>
  <script src="../js/config.js"></script>
  <script src="../js/index.js"></script>
</body>

</html>
